<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846276419280-e24k8s3ajhtjk95p9qmqe6m2mje003ac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846276419280-e24k8s3ajhtjk95p9qmqe6m2mje003ac</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyCfm5MS8J4L70PQYz7TuD81JTjJ4HgXVXw</string>
	<key>GCM_SENDER_ID</key>
	<string>846276419280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myCompany.smsAuth</string>
	<key>PROJECT_ID</key>
	<string>smsauth-2c4d1</string>
	<key>STORAGE_BUCKET</key>
	<string>smsauth-2c4d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:846276419280:ios:2542db307f1003616208d5</string>
</dict>
</plist>
